<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new group</title>
    <style>
        .p {
            display: block;
            margin-bottom: 10px;
            margin-top: 15px;
        }
    </style>
</head>
<body>
<h1>
    Add new group
</h1>
<form method="POST" action="http://localhost:8000/groups/add">
    {% csrf_token %}
    <label class="p">
        Name:<input value="Group 1" name="name" required>
    </label>
    <label class="p">
        Start date: <input type="date" name="startDate" value="2014-02-09" required>
    </label>
    <label class="p">
        Max student: <input type="number" name="maxStudents" value="10" required>
    </label>
    <input type="submit" value="OK">
    <input type="reset" value="Reset">
</form>
</body>
</html>