<!DOCTYPE html>
<!-- tag -->
<!--<tag atribute="value">content</tag>-->
<!-- html - main tag -->
<html lang="en">
    <!-- download .js, .css -->
    <head>
        <!--encoding -->
        <meta charset="UTF-8">
        <!-- title of page-->
        <title>Add group</title>
    </head>
    <body>
        <label>My first html</label>
        <p>My first html</p>

        <div>
            <!-- property: value -->
            <div style="width: 300px">
                <label>My first html</label>
                <label>My first html</label>
                <label>My first html</label>
            </div>
            <div style="width: 300px">
                <label>My first html</label>
                <label>My first html</label>
                <label>My first html</label>
            </div>
        </div>
    </body>
</html>